@font-face {
    font-family: 'BookkMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Lt.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'BookkMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}


.next-Btn {
    position: fixed;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 110px;
    cursor: pointer;

}

.next-Btn:hover {
    transform: translateY(-50%) scale(1.1);
}

/* 전체 기본 설정 */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #000;

}



#title {
    font-family: 'BookkMyungjo', sans-serif;
}



/* 가운데 검은 카드 영역 */
.page {
    min-height: 100vh;
    /* 화면 높이 꽉 채우기 */
    display: flex;
    justify-content: center;
    /* 가로 가운데 */
    align-items: center;
    /* 세로 가운데 */
}

.art-card {

    /* 안쪽 검은 배경 */
    color: #fff;
    padding: 40px 80px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    gap: 80px;
    /* 그림과 텍스트 사이 간격 */
}

/* 왼쪽 그림 영역 */
.art-image {
    flex: 0 0 40%;
    /* 전체의 40% 정도 사용 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.art-image img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    /* 너무 커지지 않게 제한 */
    display: block;
}

/* 오른쪽 텍스트 영역 */
.art-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.art-text h1 {
    font-size: 3rem;
    margin: 0 0 30px;
}



/* 배경에 흐린 실루엣 이미지 넣기 */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../image/image\ 6.png");
    /* 원본 그림 넣기 */
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    /* 투명도 (5~10%) */
    filter: blur(60px);
    /* 흐림 처리 */
    z-index: -1;
    /* 콘텐츠 뒤로 보내기 */
}



#typewriter {
    white-space: pre-line;
    /* 줄바꿈(\n) 그대로 사용 */
    line-height: 1.8;
    font-size: 0.98rem;
    font-family: "The_Jamsil", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", sans-serif;
}



/* 깜빡이는 커서 효과 */

#typewriter::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 20px;
    background: white;
    margin-left: 4px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}